body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.header{
    border-bottom: 1px solid #ECECEC;
}

.nav{
    display: flex;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Web-Studio{
font-weight: 700;
font-size: 26px;
color: #2196F3;
color: black;
padding: 25px 0;
height: 31px;
text-decoration: none;

}

.Web--Studio{

    color: #FFFFFF;
    text-decoration: none;
}


.span{
  color:   #2196F3;
}

.header-list{
    display: flex;
    margin: 30px 30px  ;
    list-style: none;
}

.list{
    margin-left: ;
}


.List{
    display: flex;
 
}
  

    

.studio{
   
    text-decoration: none;
font-weight: 500;
font-size: 14px;
color: #2196F3;

height: 16px;
padding: 31px 31px;
margin: ;


}
.portfolio{
   text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #212121;
    padding: 32px 0;
  
}
.contacts{
  text-decoration: none;
font-weight: 500;
font-size: 14px;
 color: #212121;;
 padding: 50px;
 width: 68px;
height: 16px;

}



.nav-contacts{
text-decoration: none;
color: #757575;
display: flex;
font-weight: 500;
padding: 15px;
margin: 0px 0px 0px 50px;
}



.background{
    background-color:  #2F303A ;
    width: 1350px;
height: 650px;
left: 0px;
top: 80px;
}

.solutions{
display: flex;
    justify-content: center;
    padding: 8px;



}

.main{

    padding: 94px 94px;
}
   
.button{
    
border-radius: 4px;
color: #212121;
background: #F5F4FA;
border: none;
font-weight: 500;
padding: 6px 22px;
margin: 8px;
font-size: 16px;
}

.button-2{
    
color: #F5F4FA;
border-radius: 4px;
background:#2196F3;
border: none;
font-weight: 500;
padding: 8px;
margin: 8px;
font-size: 16px;
}

.effective-solutions{
    font-weight: 900;
    font-size: 44px;
  color: #FFFFFF;
    top: 280px;
    height: 120px;
    width: 1200px;
    margin: 0 auto ;
    padding: 200px 15px;
   
    
}


.service{
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 16px;
    height: 50px;
    width: 200px;
    background: #2196F3;
 border-radius: 4px;
margin: 0px 700px ;
margin-left: 700px;



    
}
.details{
    display: flex;
}

.title{
    font-weight: bold;
     font-size: 14px;
     color: #212121; 
     padding: 30px 95px 30px 10px;
     width: 270px;
     height: 16px;
}
.descriere{
font-weight: normal;
font-size: 14px;
color: #757575;
padding: 30px 10px 30px 95px ;
width: 270px;
height: 75px;
}
.what-are-we-doind{
    font-weight: bold;
   font-size: 36px;
   color: #212121;
padding: 610px 95px 610px 50p;
width: 376px;
height: 42px;
padding: 95px 610px;
}
.img{
display: flex;
    width: 1200px;
    margin: 0px auto;
    padding: 15px;
    decoration: none;

}

.p{
    color: #757575;
}

.img-box{
    padding: 15px;
}


.img-2{
    display: flex;

}

.img-linc{
flex-basis: calc(100% / 3 - 30px);
margin-right: 30px;
margin-bottom: 30px;

}

.names{
    font-weight: 500;
    font-size: 16px;
    color: #212121;

}

.div{
    padding: 20px 23px 0 23px;
}

.h3{
    font-weight: bold;
    font-size: 18px;
}

.webStudio2{
    font-weight: bold;
     font-size: 26px;
     color: #2196F3;
     padding: 215px 60px 1240px 20px;
     width: 145px;
     height: 31px;
     width: 1600px;
     height: 252px;
  }

  .h2{
      display: flex;
      color: #FFFFFF;
  }
 
  